<div class="formular">
  <h1 class="text-center">Add description</h1>
  <%= simple_form_for @dose do |f| %>
    <div class="form-group">
    <%= f.association :cocktail, class: "form-control" %>
    </div>
    <div class="form-group">
    <%= f.association :ingredient, class: "form-control" %>
    </div>
    <div class="form-group">
    <%= f.text_field :description, class: "form-control" %>
    </div>
    <%= f.submit "Add cocktail description", class: "btn btn-primary " %>
</div>
<% end %>
